%nav
	- breadcrumb :edit_message, @message


%h3= "Edit Message - #{@message.name}"

%hr


= form_for @message,  url: { action: "update"}, html: { class: "standard_form"} do |f|
	%table
		%tr
			%td= f.label :name
			%td= f.text_field :name
		%tr
			%td= f.label :delivery_time
			%td= datetime_field(:message, :delivery_time, class: 'datetime_field')
		%tr
			%td= f.label :content
			%td= f.text_area :content, size: "60X12"
		%tr	
			%td.button{colspan: 2}= f.submit "Update"