
%h3= "Edit Message - #{@message.name}"

%br
=link_to :Messages, messages_path




= form_for @message,  url: { action: "update"}, html: { class: "standard_form"} do |f|
	= f.label :name
	= f.text_field :name

	= f.label :delivery_time
	= datetime_field(:message, :delivery_time)

	= f.label :content
	= f.text_area :content, size: "60X12"
	
	= f.submit "Update"