%nav
	- breadcrumb :new_message


%h3= "New Message"



= form_for @message,  url: { action: "create"}, html: { class: "form-horizontal"} do |f|

	%div.form-group
		= f.label :name, class: 'col-sm-2 control-label'
		%div.col-sm-10
			= f.text_field :name

	%div.form-group
		= f.label :delivery_time, class: 'col-sm-2 control-label'
		%div.col-sm-10
			= datetime_field(:message, :delivery_time, class: 'datetime_field')

	%div.form-group
		= f.label :content, class: 'col-sm-2 control-label'
		%div.col-sm-10
			= f.text_area :content, size: "60X12"
	%div.form-group
		%div.col-sm-offset-2.col-sm-10
			= f.submit "Create", class: 'btn btn-primary btn-lg'	
