%nav
	- breadcrumb :message, @message, @title

%h2= "Displaying Message"

-if !@message.blank?
	%ul
		%li= "Name: #{@message.name}"
		%li= @message.delivery_time
		%li= @message.content
-else
	%strong.error="Message is not available for display may have been removed from system!"

