<!DOCTYPE html>
<html>
<head>
  <title>Simple Message Demo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>



<div id="main-container" class="container-fluid">

  
  <div class="row">
    <div id="sidebar" class="col-xs-3">
      <!-- sidebar content -->
      <h3> SideBar Content </h3>

      <%= render partial: 'layouts/navigation' %>

	</div>
	<div id="content" class="col-xs-9">
		<%= render partial: 'shared/breadcrumb' %> 
	    <!-- flash errors content -->
        <div class="col-xs-12">
	      <% flash.each do |name, msg| -%>
	        <%= content_tag :div, msg, class: "alert alert-#{name}" %>
	       <% end -%>
	       <% flash = Array.new %>
	     </div>
        <!-- main content -->
        <%= yield %>
    </div>
  </div>
</div>
</body>

<footer><cite>Demo By Timothy Morton</cite></footer>
</html>
