<!DOCTYPE html>
<html>
<head>
  <title>Simple Message Demo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= breadcrumbs separator: " &raquo; " %>
<%= yield %>


</body>

<footer><cite>Demo By Timothy Morton</cite></footer>
</html>
