<!DOCTYPE html>
<html>
<head>
  <title>Simple Message Demo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="main-container" class="container-fluid">
  <div class="row">
    <div id="sidebar" class="col-xs-3">
      <!-- sidebar content -->
      <h3> SideBar Content </h3>
	</div>
	<div id="content" class="col-xs-9">
	  <!-- main content -->
      <%= breadcrumbs separator: " &raquo; " %>
      <p id="flash_success_message"> <%= flash[:success] %></p>
      <p id="flash_error_message">  <%= flash[:error]  %></p>
      <% flash[:success] = nil %>
      <% flash[:error] = nil %>

      <br/>
      <%= yield %>
    </div>
  </div>
</div>
</body>

<footer><cite>Demo By Timothy Morton</cite></footer>
</html>
